.cor-viz-wed {

  &__map-wrapper {
    display: block;
    width: 100%;

    @include bp-sm {
      width: 45%;
      float: left;
    }

    @include bp-lg {
      width: 40%;
    }
  }

  &__cities-container {
    display: block;
    width: 100%;

    @include bp-sm {
      width: 55%;
      float: left;
    }

    @include bp-lg {
      width: 60%;
    }
  }

  &__infobox {
    display: block;

    @include bp-sm {
      width: 45%;
      position: absolute;
      top: 20px;
      right: 0;
      min-height: 240px;
    }

    @include bp-lg {
      width: 40%;
    }
  }

}
